* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(49, 170, 217), rgb(145, 115, 115));
    font-family: 'Arial', sans-serif;
    

}

header {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.fruit {
    width: calc(20% - 20px);
    height: 250px; 
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(31, 4, 4, 0.1);
    transition: transform 0.3s ease;
}

.fruit:hover {
    transform: translateY(-10px);
}

.fruit h1 {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em; 
    color: #1b1a1a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.fruit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
}

.fruit:hover img {
    opacity: 0.2;
    transform: scale(1.2);
}

.fruit p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    top: 40px; 
    width: 100%;
    height: auto;
    z-index: 2;
    color: #000000;
    text-overflow: clip;
}

.fruit p span {
    display: flex;
    font-size: small;
    text-wrap: wrap;
}

.fruit p span.first {
    font-weight: bold;
    transition: 0.3s all ease;
    transform: translateX(-120px);
}

.fruit:hover p span.first {
    transform: translateX(0);
}

.fruit p span.last {
    transition: 0.3s all ease;
    transform: translateX(300px);
    width: calc(100% - 50px);
}

.fruit:hover p span.last {
    transform: translateX(50px);
    text-wrap: wrap;
}

.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
    transform: translateY(100px);
}

.fruit:hover .buttons {
    transform: translateY(0);
}

.buttons button {
    padding: 10px;
    min-width: 80px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small; 
    background: #f8f8f8;
    transition: backgroun 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.buttons button:hover {
    background: #e0e0e0;
}

.buttons button:active {
    box-shadow: none;
}

@media (max-width: 1200px) {
    .fruit  {
        width: calc(25% - 20px);
    }
}

@media (max-width: 992px) {
    .fruit {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .fruit {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .fruit {
        width: calc(100% - 20px);
    }
}  